@media (max-width: 400px) and (min-width: 375px) {
  .comment {
    bottom: 0;
  }
  .program__title {
    padding-top: 18vh;
  }
  .program__timeline::before {
    top: 33vh;
    height: 90%;
  }
  .timeline__event {
    padding: 4vh 2vh 0;
  }
}
@media (max-height: 896px) {
  header {
    height: 95vh;
  }
  header #my-canvas {
    bottom: 79vh;
    height: 55vh;
  }
  /* .program__timeline::before {
    top: 15.5vh;
  } */
}
@media (max-width: 450px) and (min-width: 400px) {
  .program {
    padding-top: 4.5vh;
  }
  .program__timeline::before {
    top: 21.5vh;
    height: 92.5%;
  }
  #arrows::after {
    right: 22%;
  }
  #arrow::after {
    right: 12%;
  }
  .questions__first::after {
    right: 22%;
  }
  .questions__second::after {
    right: 55%;
  }
  .questions__third::after {
    right: 12%;
  }
}
@media (max-width: 450px) and (min-width: 420px) {
  .comment::after,
  .program__timeline::after, 
  .location::after,
  .briefly::after,
  .comment::after {
  display: none;
}
}
@media (max-width: 2500px) and (min-width: 450px) {
  .main-container {
    display: none;
  }
  body {
    height: 100vh;
    background: linear-gradient(179.96deg, #43CEA2 0.98%, #185A9D 99.95%);
  }
  body::before {
    content: 'Еще ведутся работы над десктопной версией, пожалуйста воспользуйтесь мобилкой для посещения данной страницы';
    text-align: left;
    display: flex;
    height: 100%;
    width: 80%;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.3em;
    letter-spacing: 0.04em;
    font-weight: 600;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.8px #FFFFFF;
  }
}